datefinder==0.7.1
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
flask-mwoauth==0.4.82
html5lib==0.999999999
httplib2==0.18.0
matplotlib==3.3.0
numpy==1.18.5
pandas==1.0.4
pykew==0.1.3
pyKey==0.2
rdflib==5.0.0
requests==2.20.0
requests-oauthlib==1.3.0
requests-unixsocket==0.1.5
responses==0.3.0
simplejson==3.13.2
SPARQLWrapper==1.8.5
urllib3==1.24.2
